# Build artifacts
build/
dist/
*.egg-info/
*.spec

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller artifacts
*.manifest
*.spec

# Virtual environments
venv/
env/
.env/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
